* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

main{
    margin-left: 180px;
}
section {
    margin-top: 40px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.right { float: right; }
.red { color: #FF5049 !important; }
.red-focus:focus { border: 1px solid #FF5049 !important; }

/* Sidebar */
.sidebar {
    position: fixed;
    left: 0;
    width: 180px;
    height: 100%;
    background: #34ace4;
}

.sidebar header {
    margin: auto;
    font-size: 25px;
    color:white;
    text-align: center;
    line-height: 70px;
    background: #69c1ec;
    user-select: none;
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color:white;
    text-align: center;
    padding: .75rem 1rem;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
    transition: .4s;
}
.sidebar span {
    text-align: center;
    white-space: nowrap;
}
ul li:hover a {
    padding-left: 50px;
}
.sidebar img {
    display: block;
    margin-left: auto;
    margin-right: auto 
}


header {
    margin-right: auto;
    margin-left: 180px;
    background-color: #b7d8fa;
}
header h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.centered-text {
    text-align: center;
}

.container {
    margin-top: 25px;
    margin-bottom: .945rem!important;
    background-color: white;
}
div.video {
    background: rgba(0, 0, 0, 0) url("pictures/bg.jpg") repeat fixed 0 0;
    padding: 80px 0 30px;
    width: 100%;
    text-align: center;
}
.box { 
    padding: 25px;
    border: 5px dashed red;
    border-radius: 10px;
    background-clip: content-box;
    box-shadow: 5px 4px 10px 2px gray;
    margin-left: auto;
    font-family: SwedbankSans,Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 18px;
    line-height: 1.428571429;
    color: #512b2b;
}
.box li {
    list-style-type: none;
}
.box p {
    margin: 0 0 10px;
}
.box .left { 
    float: left; 
    shape-outside: polygon(0 0, 0 300px, 200px 300px); 
    clip-path: polygon(0 0, 0 320px, 200px 320px); 
    background: linear-gradient(to top right, #67D7F5, #86F7CC); 
    height: 400px; 
    width: 300px; 
}
.box .right { 
    float: right; 
    shape-outside: polygon(200px 300px, 300px 300px, 300px 0, 0 0); 
    clip-path: polygon(200px 320px, 300px 320px, 300px 0, 0 0); 
    background: linear-gradient(to bottom left, #67D7F5, #86F7CC); 
    height: 400px; 
    width: 300px; 
}
.section-heading-title {
    background-position: center top;
    background-repeat: no-repeat;
    padding: 0 15px;
    position: relative;
    width: 97.4%;
    text-align: center;
}
.pagetitle-separator {
    background: #1fc5ee !important;
    height: 1px;
    margin: 23px auto 45px;
    width: 250px;
}
.pagetitle-separator-border {
    width: 101px;
    height: 3px;
    margin: 0 auto;
    position: relative;
    top: -2px;
    background-color: #1fc5ee !important;
}
.pagetitle-separator-box {
    background: none repeat scroll 0 0 #1fc5ee;
    height: 10px;
    margin: auto;
    position: relative;
    top: -4px;
    -webkit-transform: rotate(45deg);
    width: 10px;
}
/* DATE */

.clock {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 60px;
    border: 1px solid black;
    padding: 0 5px 0 5px;
}


footer {
    margin-left: 180px;
    left: 0; bottom: 0; 
    background-color: #89d6f5;
    font-size: 16px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.circle {
    margin: auto;
    background: #456BD9;
    border: 0.1875em solid #0F1C3F;
    border-radius: 50%;
    height: 15em;
    width: 15em;
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin-bottom: 20px;
}
.budget-value {
    font-weight: 300;
    font-size: 46px;
    text-align: center;
    margin-top:20px;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.budget__income,
.budget__expenses {
    padding: 12px;
    text-transform: uppercase;
}

.budget__income {
    margin-bottom: 10px;
    background-color: #1ef817;
}

.budget__expenses {
    background-color: #fd241d;
}

.budget__income--text,
.budget__expenses--text {
    float: left;
    font-size: 13px;
    color: #444;
    margin-top: 2px;
}

.budget__income--value,
.budget__expenses--value {
    letter-spacing: 1px;
    float: left;
}

.budget__income--percentage,
.budget__expenses--percentage {
    float: left;
    width: 34px;
    font-size: 11px;
    padding: 3px 0;
    margin-left: 10px;
}

.budget__expenses--percentage {
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    border-radius: 3px;
}

.add {
    padding: 14px;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f7f7f7;
}

.add-container {
    margin: 0 auto;
    text-align: center;
}

.add-type {
    width: 55px;
    border: 1px solid #e7e7e7;
    height: 44px;
    font-size: 18px;
    color: inherit;
    background-color: #fff;
    margin-right: 10px;
    font-weight: 300;
    transition: border 0.3s;
}

.add-description,
.add-value {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    padding: 12px 15px;
    margin-right: 10px;
    border-radius: 5px;
    transition: border 0.3s;
}

.add-description { width: 400px;}
.add-value { width: 100px;}

.add-btn {
    font-size: 35px;
    background: none;
    border: none;
    color: #28B9B5;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px;
}

.add-btn:active { transform: translateY(2px); }

.add-type:focus,
.add-description:focus,
.add-value:focus {
    outline: none;
    border: 1px solid #28B9B5;
}

.add-btn:focus { outline: none; }

.row {
    margin: 60px auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

div.row column {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.income {
    float: left;
    text-align: center;
    width: 475px;
    margin-right: 50px;
}

.expenses {
    float: left;
    text-align: center;
    width: 475px;
}

h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}

.icome-title { color: #28B9B5; }
.expenses-title { color: #FF5049; }

.item {
    padding: 13px;
    border-bottom: 1px solid #e7e7e7;
}

.item:first-child { border-top: 1px solid #e7e7e7; }
.item:nth-child(even) { background-color: #f7f7f7; }

.item-description {
    float: left;
}

.item-value {
    float: left;
    transition: transform 0.3s;
}

.item-percentage {
    float: left;
    margin-left: 20px;
    transition: transform 0.3s;
    font-size: 11px;
    background-color: #FFDAD9;
    padding: 3px;
    border-radius: 3px;
    width: 32px;
    text-align: center;
}

.income .item-value,
.income .item-delete--btn {
    color: #28B9B5;
}

.expenses .item-value,
.expenses .item-percentage,
.expenses .item-delete--btn {
    color: #FF5049;
}


.item-delete {
    float: left;
}

.item-delete--btn {
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    display: none;
}

.item-delete--btn:focus { outline: none; }
.item-delete--btn:active { transform: translateY(2px); }

.item:hover .item-delete--btn { display: block; }
.item:hover .item-value { transform: translateX(-20px); }
.item:hover .item-percentage { transform: translateX(-20px); }


.unpaid {
    background-color: #FFDAD9 !important;
    cursor: pointer;
    color: #FF5049;

}

.unpaid .item-percentage { box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1); }
.unpaid:hover .item-description { font-weight: 900; }

